#--extra-index-url https://download.pytorch.org/whl/cpu

openvino-genai
optimum-intel[openvino]
#optimum
#nncf

#onnx
#onnxruntime
#torch
#intel-tensorflow

#transformers
#huggingface_hub

#mkdocs
